html,body{
    width: 100%;
    height: 100%;
     margin: 0  
}
.all{
   display: flex;
   flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(penpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
h2{
    text-align: center
}
.butons{
   
   height: 20%;
    margin: auto
}
.note{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0 25%;
    box-sizing: border-box;
}
.mindiv{
    display: flex;
    margin: auto;
    width: 50%;
}
#pad>div{
    display: flex;
    justify-content: space-between;
}
#cheakbox{
   
    font-size: 15px;
   
}
#trashbin{
    font-size: 15px;
    color: grey   
}
.divtext{
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  
  font-size: 15px
}
.note>div>i{
    color: green
}
/* #pad>div>i{
    color: green
} */
.green>i:nth-child(1){
    color:green
}
.green>div{
    color:green
}
.red>i:nth-child(1){
    color:red
}
.red>div{
    color:red
}