body,html{
    width: 100%;
    height: 100%;
}
#pic{
    display: flex;
    background-image: url(photo.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#overlay{    
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-image: linear-gradient(to right, #929bbc, #7c9ebc, #67a1b6, #5ca2a8, #5fa195);
    z-index: 1;
}
#forms{  
    display: flex;
    flex-direction: column; 
    width: 30%;
    height: 70%;
    margin: auto;
    background-color:white;
    border-radius: 2%;
    z-index: 2;   
}
@media only screen and (max-width: 600px)
{
#forms{
    width: 80%;
    height: 60%;
    }
    }
    .input1{    
    border: 1px solid gray;
    border-radius: 3px;
    margin: auto;
    width: 60%;
    height: 5%;
   outline: none;
   

}
::-webkit-input-placeholder {
    text-align: center;
  }
#sing{
    text-align: center;
    border: none;
    font-size: 14px;
    color: white;
    opacity: .3;
    margin: auto;
    width: 60%;
    height:6%;
    border-radius: 10px;
    background: linear-gradient(to right, #333399 0%, #00ff99 100%);
}
.label{
    font-size: 12px;
    padding: 30px;
}
#table{
    border-radius: 5px;
    width: 30%;
    height: 70%;
    display: flex;
    display: none;
    margin: auto;
    background: white;
    opacity: .6;
    z-index: 3;
}

.span{
    font-size: 9px;
    display: inline-block;
    width: 70%;
    color: red;
    margin-inline-start: 35% ;
   
    
}
